{% extends 'events/base.html' %}

{% load static %}

{% block title %}BrightTimes - Buy Ticket{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Buy for {{ event.name }}</h1>
                    <h2>Hosted at {{ event.venue.name }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="{% url 'buy-ticket' event.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h3>Price of ticket: £<span id="ticket-price">{{ event.price }}</span></h3>
                        <label for="quantity">Quantity:</label>
                        <input type="number"
                               class="form-control"
                               id="quantity"
                               name="quantity"
                               value="1"
                               min="1"
                               max="10"
                               required>
                        <br>
                        <p class="text-danger" id="error-message"></p>
                        <h4>Total cost: £<sh4an id="total-cost"></span></h4>
                        <button type="submit" class="btn btn-dark mt-3">Buy ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript" src="{% static 'tickets/js/update-total-cost.js' %}">
    </script>
{% endblock %}
