{% extends 'events/base.html' %}
{% load static %}

{% block additional_head %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Display a payment form -->
        <form id="payment-form">
          {% csrf_token %}
          <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
          </div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
          </button>
          <div id="payment-message" class="hidden"></div>
        </form>
        <input type="hidden" name="event_id" id="event_id" value="{{ event.name }}">
        <input type="hidden"
               name="stripe_pub_key"
               id="stripe_pub_key"
               value="{{ stripe_pub_key }}">
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}
