{% extends 'events/base.html' %}
{% load static %}

{% block additional_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'tickets/css/user-tickets.css' %}"
          type="text/css">
{% endblock %}

{% block title %}BrightTimes - Tickets{% endblock %}

{% block content %}
    <div class="container event-cards-container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Tickets</h1>
                    <hr>
                    <br>
                </div>
            </div>
        </div>
        {% for ticket in tickets %}
            {% with event=ticket.event %}
                <div class="row user-tickets-container">
                    <div class="col-12 col-sm-5 img-container">
                        <img class="img img-responsive"
                             src="{{ event.image.url }}"
                             alt="{{ event.name }} image">
                    </div>
                    <div class="col-12 col-sm-7">
                        <h2>{{ event.name }}</h2>
                        <p>
                            <strong>Event date/time:</strong> {{ event.start_date_time }}</p>
                        <p>
                            <strong>Order no. #</strong>{{ ticket.order.order_num }}
                        </p>
                        <p>
                            <strong>Ordered on:</strong> {{ ticket.order.order_date }}
                        </p>
                    </div>
                    <a class="stretched-link" href="{% url 'event-details' event.id %}" aria-label="Details page for {{ event.name }}"></a>
                </div>
            {% endwith %}
            {% if not forloop.last %}<hr class="hr--light">{% endif %}
        {% endfor %}
    </div>
{% endblock %}
