{% extends 'base.html' %}
{% load static %}

{% block additonal_css %}
    <link rel="stylesheet" href="{% static 'event-styles.css' %}">
{% endblock %}

{% block additional_header %}
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% if not breadcrumbs %}
                            <li class="breadcrumb-item active" aria-current="page">Events</li>
                        {% else %}
                            <li class="breadcrumb-item">Events</li>
                        {% endif %}
                        {% for breadcrumb in breadcrumbs %}
                            {% if forloop.last %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb }}</li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb }}</li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    {% endblock %}
