{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block additional_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
{% endblock %}

{% block title %}
    {{ block.super }}
    - Create Event
{% endblock %}

{% block content %}
    <div class="container form-container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Create event</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Venue: {{ venue.name }}</h2>
                <form action="{% url 'create-event' venue.id %}"
                      method="post"
                      class="form"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ event_form|crispy }}
                    <button class="btn btn-dark" type="submit">Create Event</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="{% static 'events/js/datetimepicker.js' %}"></script>
{% endblock %}
