{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block additonal_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    <link rel="stylesheet" href="{% static 'event-styles.css' %}">
{% endblock %}

{% block title %}
    {{ block.super }}
    - Create Event
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Create event</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Venue: {{ venue.name }}</h2>
                <form action="{% url 'create_event' venue.id %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <section class="input-fields">
                        {{ event_form|crispy }}
                        <button type="submit">Create Event</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">$(".datetimepicker").datetimepicker({
        inline:true,
        step:15,
        format:'Y-m-d H:i',
    });</script>
{% endblock %}
