{% extends 'base.html' %}
{% load static %}

{% block title %}BrightTimes - {{ event.name }}{% endblock %}

{% block additonal_css %}
    <link rel="stylesheet" href="{% static 'event-styles.css' %}">
    <style>
        /* Styles added here due to django static file limitations in css */
        .event-hero-img_background {
            background: url("{{ event.image.url }}") no-repeat center;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="event-header">
                    <div class="event-hero-img">
                        <div class="event-hero-img_background"></div>
                        <img class="img img-responsive" src="{{ event.image.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <article id="event-details">
                    <header>
                        <h1>{{ event.name }}</h1>
                        <h2 class="text-muted">Hosted at {{ event.venue.name }}</h2>
                        <p id="event-desc">{{ event.desc }}</p>
                    </header>

                    <section>
                        <h3>Date and time of event</h3>
                        <p>
                            <strong>Start:</strong>
                            {{ event.start_date_time }}
                            <br>
                            <strong>End:</strong>
                            {{ event.end_date_time }}
                        </p>
                    </section>

                    <section>
                        <h3>Location</h3>
                        <p>
                            <strong>{{ event.venue.name }}</strong>
                            <br>
                            {{ event.venue.address.street_address1 }},
                            <br>
                            {{ event.venue.address.street_address2 }},
                            <br>
                            {{ event.venue.address.city }},
                            <br>
                            {{ event.venue.address.county }},
                            <br>
                            {{ event.venue.address.postcode }}.
                            <br>
                            {{ event.venue.address.country }}
                        </p>
                    </section>
                </article>
            </div>
            <div id="event-details_buy-tickets" class="fixed-bottom col-md-4">
                <h5 class="m-0">£{{ event.price }}</h5>
                <a id="buy-tickets"
                   href="{% url 'buy-ticket' event.id %}"
                   class="btn btn-dark">BUY TICKETS</a>
                <p class="tickets-left text-muted d-none d-md-block">{{ event.tickets_left }} Tickets left</p>
                <small>Tickets end on:<br>{{ event.ticket_end_date_time }}</small>
            </div>
        </div>
        <div id="event-details_buy-tickets_whitespace"></div>
    </div>
{% endblock %}
