{% extends 'events/base.html' %}
{% load static %}
{% load management %}

{% block title %}BrightTimes - {{ event.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="event-header">
                    <div class="event-hero-img">
                        <div style="background-image: url({{ event.image.url }})" class="img-blurred-sides"></div>
                        <img class="img img-responsive"
                             height="400"
                             src="{{ event.image.url }}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="event-details-container">
        <div class="row">
            <div class="col-12 col-md-8">
                <article id="event-details">
                    <header>
                        <h1>{{ event.name }}</h1>
                        <h2 class="text-muted">Hosted at {{ event.venue.name }}</h2>
                        {% if user.is_authenticated %}
                            {% manager_role event.venue.id request.user.id as role %}
                            {% if role != None %}
                                <h3 id="venue-manager-message">You are a venue manager ({{ role }})</h3>
                                {% if role == 'OWNER' or role == 'MANAGER' %}
                                    <a href="{% url 'event-management-detail' event.id %}" class="btn" id="venue-manager-btn">Edit event</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <p id="event-desc">{{ event.desc }}</p>
                    </header>
                    <section>
                        <h3>Date and time of event</h3>
                        <p>
                            <strong>Start:</strong>
                            {{ event.start_date_time }}
                            <br>
                            <strong>End:</strong>
                            {{ event.end_date_time }}
                        </p>
                    </section>
                    <section>
                        <h3>Location</h3>
                        <p>
                            <strong>{{ event.venue.name }}</strong>
                            <br>
                            {{ event.venue.address.street_address1 }},
                            <br>
                            {% if event.venue.address.street_address2 %}
                                {{ event.venue.address.street_address2 }},
                                <br>
                            {% endif %}
                            {{ event.venue.address.city }},
                            <br>
                            {{ event.venue.address.county }},
                            <br>
                            {{ event.venue.address.postcode }}.
                            <br>
                            {{ event.venue.address.country }}
                        </p>
                    </section>
                    <section>
                        <h3>About the event</h3>
                        {{ event.about }}
                    </section>
                </article>
            </div>
            <div id="event-details_buy-tickets" class="fixed-bottom col-md-4">
                <h5 class="m-0">£{{ event.price }}</h5>
                <a id="buy-tickets"
                   href="{% url 'buy-ticket' event.id %}"
                   class="btn btn-dark">BUY TICKETS</a>
                <p class="tickets-left text-muted d-none d-md-block">{{ event.tickets_left }} Tickets left</p>
                <small>Tickets end on:
                    <br>
                {{ event.ticket_end_date_time }}</small>
            </div>
        </div>
        <div id="event-details_buy-tickets_whitespace"></div>
    </div>
{% endblock %}
