{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'event-card-styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Welcome to BrightTimes</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="header">Coming up</h2>
                <div class="container event-cards-container event-cards-sm event-cards-scroll">
                    <div class="row">
                        {% for event in coming_up %}
                            {% include 'includes/event-card.html' with event=event %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h2 class="header">Recently added</h2>
                <div class="container event-cards-container event-cards-sm event-cards-scroll">
                    <div class="row">
                        {% for event in recently_added %}
                            {% include 'includes/event-card.html' with event=event %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
