{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'event-card-styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Welcome to BrightTimes</h1>
                    <hr>
                </div>
            </div>
        </div>
        <h2 class="header">Coming up</h2>
        <div class="row">
            <div class="col">
                <div class="container event-cards-container event-cards-sm event-cards-scroll">
                    <div class="row">
                        {% for event in coming_up %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">{% include 'includes/event-card.html' with event=event %}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2 class="header">Recently added</h2>
        <div class="row">
            <div class="col scroll-control-container">
                <div data-arrow="left" data-target="#recently-added" class="scroll-control">
                    <img src="{% static 'icons/circle-chevron-left.svg' %}"
                         width="48"
                         height="48"
                         alt="Next icon">
                </div>
                <div id="recently-added" class="container event-cards-container event-cards-sm event-cards-scroll">
                    <div class="row">
                        {% for event in recently_added %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">{% include 'includes/event-card.html' with event=event %}</div>
                        {% endfor %}
                    </div>
                </div>
                <div data-arrow="right" data-target="#recently-added" class="scroll-control">
                    <img src="{% static 'icons/circle-chevron-right.svg' %}"
                         width="48"
                         height="48"
                         alt="Next icon">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="{% static 'events/js/scroll-events.js' %}"></script>
{% endblock %}
