/* Header */

    :root {
        --primary-colour:#A86EC1;
        --primary-colour-lighten:#c886e4;
        --primary-colour-lighten-2: #e096ff;
        --primary-colour-lighten-3: #e7b8fc;
        --primary-colour-lighten-4: #f6e8fc;
        --primary-colour-highlight: #00d5b931;
        --primary-text-colour: rgb(0, 0, 0);
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-size: calc(.65rem + 0.3vw + 0.25vh);
    }
    
    .container_fit-content {
        width: fit-content;
    }

    #header-bg-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
    }

    #header-bg-image > img {
        width:100%;
        height: 100%;
        object-fit: cover;
    }

    /* Navbar */
    
        .nav-container {
            margin-bottom: 2em;
            background: linear-gradient(50deg, var(--primary-colour), #ffffff00);
            position: relative;
        }

        .navbar-brand >img {
            margin-bottom: 5px;
        }

        .navbar a.nav-link {
            color: var(--primary-text-colour);
        }

        ul.navbar-nav {
            margin-left: auto;
            color: var(--primary-text-colour);
        }

        .navbar .dropdown-menu {
            animation: slowExpandUL 0.3s ease-in-out;
            overflow: hidden;
        }

        .navbar {
            font-size: 1.2em;
            font-weight: 500;
            text-transform: capitalize;
            
            font-family: "Inter", sans-serif;
            font-style: normal;
        }

        .account-dropdown-container > a.dropdown-toggle {
            text-transform: none;
        }

        .page-header > h1 {
            margin: 0.5em 0;
            margin-bottom: 1em;
            text-align: center;
        }

        .profile-icon {
            width: 0.8em;
            height: 0.8em;
            margin-left: var(--bs-navbar-nav-link-padding-x);
            margin-right: calc(var(--bs-navbar-nav-link-padding-x)* -0.1);
        }

        a.nav-link {
            padding-right: var(--bs-navbar-nav-link-padding-x);
            padding-left: var(--bs-navbar-nav-link-padding-x);
        }

        @media screen and (min-width: 576px){
            .account-dropdown-container {
                display: flex;
                align-items: center;
            }

            .navbar-brand >img {
                width: 125px;
                height: auto;
            }
        }

        @media screen and (max-width: 576px) {
            #navbarNav {
                background-color: #ffffff17;
                padding: 0 0.5em;
            }

            .dropdown-menu {
                background-color: #ffffff17;
            }

            a.nav-link {
                display: inline-block;
            }

            .navbar .img-container {
                display: inline-block;
                height: 100%;
            }

            .navbar .img-container > img {
                margin-bottom: 3px;
            }
        }
    /* End Navbar */

/* End Header */

/* General styles */

    .img-blurred-sides {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        filter: blur(10px);
        z-index: -10;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header {
        margin: 1em 0;
    }

    main {
        margin-bottom: 2em;
    }

/* End General styles */

/* Allauth */

    /* Login page */

    #id_password + #id_password_helptext {
        display: block;
        margin-top: 0.5em;
    }

    /* End Login page */

/* End Allauth */

/* Forms */

    form {
        padding: 1em;
    }

    form:has(.form-heading) {
        padding: 0.6em 1.4em;
    }

    .form-heading {
        margin-top: 0.5em;
        margin-left: -0.4em;
    }

    .form-group {
        margin: 1.4em 0.4em;
    }

    form .form-group:first-of-type:not(.form-heading + .form-group) {
        margin-top: 0;
    }

    form button {
        margin-top: 0.5em;
    }

    @media screen and (min-width: 576px){
        .form-container {
            max-width: 800px;
        }
    }

/* End Forms */

/* Venue */

    /* Venue creation */
    
    /* End Venue */

/* Footer */

    body > .container:last-of-type {
        margin-bottom: 2em;
    }

    .footer {
        background-color: var(--primary-colour);
        padding: 2em;
        margin-top: 1.5em;
    }

    .footer-container {
        display: flex;
        align-items: center;
    }

    .footer-container > p:last-of-type{
        margin-bottom: 0;
    }

    .footer-container > .social-icons {
        margin-left: auto;
    }

    .social-icons > a {
        opacity: 0.8;
    }

    .social-icons > a:hover {
        opacity: 1;
        background-color:rgba(255, 255, 255, 0.2);
        border-radius: 20%;
    }
    .social-icons > a {
        display: flex;
    }
/* End Footer */

@keyframes slowExpandUL {
    0% {
        max-height: 0;
        padding: 0;
    }

    25% {
        padding: inherit;
    }

    100% {
        max-height: 400px;
    }
}

/* Google fonts: font-faces */

/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
