/* Header */

    :root {
        --primary-colour:#A86EC1;
        --primary-colour-lighten:#c886e4;
        --primary-colour-lighten-2: #e096ff;
        --primary-colour-lighten-3: #e7b8fc;
        --primary-colour-lighten-4: #f6e8fc;
        --primary-colour-highlight: #00d5b931;
        --primary-text-colour: rgb(0, 0, 0);
    }

    body {
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .container_fit-content {
        width: fit-content;
    }

    .navbar {
        font-family: "Freeman", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4em;
    }

    .navbar-brand >img {
        margin-bottom: 5px;
    }

    .navbar a.nav-link {
        color: var(--primary-text-colour);
    }

    .nav-container {
        background-color: var(--primary-colour);
        margin-bottom: 2em;
    }

    ul.navbar-nav {
        margin-left: auto;
        color: var(--primary-text-colour);
    }

    .navbar a.nav-link

    .navbar {
        font-size: 1.2em;
        font-weight: 500;
        text-transform: capitalize;
    }

    .account-dropdown-container > a.dropdown-toggle {
        text-transform: none;
    }

    .page-header > h1 {
        margin: 0.5em 0;
        margin-bottom: 1em;
        text-align: center;
    }

    .profile-icon {
        margin-left: var(--bs-navbar-nav-link-padding-x);
        margin-right: calc(var(--bs-navbar-nav-link-padding-x)* -0.1);
    }

    .account-dropdown-container {
        display: flex;
        align-items: center;
        border: 1px solid #f0f8ff78;
        border-radius: 10%;
        margin: 0 0.4em;
    }

/* End Header */

/* General styles */


/* End General styles */

/* Allauth */

    /* Login page */

    /* End Login page */

/* End Allauth */

/* Forms */

    section.input-fields {
        padding: 1em 2%;
    }

/* End Forms */

/* Venue */

    /* Venue creation */

    .venue-section-header {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

/* End Venue */

/* Footer */

    .footer {
        background-color: var(--primary-colour);
        padding: 2em;
        margin-top: 1.5em;
    }

    .footer_container {
        display: flex;
    }

    .footer_container > p:last-of-type{
        margin-bottom: 0;
    }

    .footer_container > .social-icons {
        margin-left: auto;
    }
/* End Footer */