/* Header */

    body {
        font-family: "Inter", sans-serif;
    }

    header.page-header {
        background-color: #9DDCFF;
        margin-bottom: 2em;
    }

    ul.navbar-nav {
        margin-left: auto;
    }

    .navbar {
        font-size: 1.2em;
        font-weight: 500;
        text-transform: capitalize;
    }

    .account-dropdown-container > a.dropdown-toggle {
        text-transform: none;
    }

    .page-header > h1 {
        margin-bottom: 0.5em;
        text-align: center;
    }

    .profile-icon {
        margin-left: var(--bs-navbar-nav-link-padding-x);
        margin-right: calc(var(--bs-navbar-nav-link-padding-x)* -0.1);
    }

    .account-dropdown-container {
        display: flex;
        align-items: center;
        border: 1px solid #f0f8ff78;
        border-radius: 10%;
        margin: 0 0.4em;
    }

/* End Header */

/* General styles */


/* End General styles */

/* Allauth */

    /* Login page */

    /* End Login page */

/* End Allauth */

/* Events */

    /* Event detail */

    .event-hero-img {
        width: 100%;
        height: 300px;
        padding: 0 8%;
        margin-bottom: 2em;
    }

    .event-hero-img > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .event-header > h1 {
        text-transform: capitalize;
    }

    @media screen and (min-width: 768px) {
        #event-details_buy-tickets {
            position: static;
        }
    }

    /* End Event detail */

    /* Event cards */

    .event-cards-container {
        margin-top: 1.5rem;
    }

    .event-cards-container > .row {
        --bs-gutter-y: 1.5rem;
    }

    .event-card {
        border-radius: 9px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        row-gap: 0.3em;
        width: 250px;
        margin: auto;
        max-width: 100%;
        position: relative;

        /* Event card variables */
        --outline-colour: #545454;
        --card-border-radius: 9px;
    }

    a#buy-tickets {
        /* Position buy tickets link above .stretched-link (event details) */
        z-index: 11;
    }

    .event-card_img {
        border-top-left-radius: var(--card-border-radius);
        border-top-right-radius: var(--card-border-radius);
        border: 1px var(--outline-colour) solid;
        padding: 0.4em;
        background-color: #00AFFA;
        position: relative;
    }

    /* City tag */
    .event-card_img > .city-tag {
        background: #000000b9;
        color: white;
        width: fit-content;
        padding: 0.2em 0.4em;
        border: 1px solid #ffffff63;
        border-radius: 5px;
        font-size: 0.8em;

        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 0.7em;
        margin-bottom: 0.7em;
    }

    .event-card_img > .city-tag > p {
        margin: 0;
    }

    .event-card_content {
        border: 1px var(--outline-colour) solid;
        border-bottom-left-radius: var(--card-border-radius);
        border-bottom-right-radius: var(--card-border-radius);
        padding: 1.4em;
        background-color: #dce4ff;

        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
    }

    .event-card_content > header {
        padding: 0.2em;
    }

    .event-card_content > footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.6em;
    }

    .event-card_content > footer > p { 
        margin-bottom: 0.2em;    
        font-size: 0.7em;
        font-weight: 600;
        margin-top: 0.8em;
    }

    .event-card .btn {
        width: 100%;
    }

    .event-card_details { 
        background-color: white;
        padding: 1.2em;
        font-size: 0.7em;
        font-weight: 700;
        border-radius: 10px;
        border-left: 1px solid var(--outline-colour);
    }

    .event-card_details > p {
        margin-bottom: 0.8em;
    }

    .event-card_details > p:last-child {
        margin: 0;
    }

    .event-card_details > p > img {
        margin-right: 0.5em;
    }

    .event-card_title {
        font-size: calc(0.9em + .6vw);
    }

    /* End event cards */

/* End Events */

/* Forms */

    section.input-fields {
        padding: 1em 2%;
    }

/* End Forms */

/* Venue */

    /* Venue creation */

    .venue-section-header {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

/* End Venue */