/* Event detail */

:root {
    /* Fixed-bottom buy tickets height */
    --buy-tickets-height: 10em;
    
    /* Event card variables */
    --outline-colour: #545454;
    --card-border-radius: 2px;
}

.nav-container {
    margin-bottom: 0;
}

#breadcrumbs-container {
    margin-top: 1.1em;
    margin-bottom: 1em;
}

.breadcrumb {
    padding: 0 5px;
}

#breadcrumbs-container>hr {
    margin-top: 0em;
}

#event-details-container {
    padding: 0 5%;
}

.event-hero-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-header>h1 {
    text-transform: capitalize;
}

#event-desc {
    padding: 1em 0;
}

article#event-details > section {
    margin-bottom: 2.5em;
}

#event-details_buy-tickets {
    text-align: center;
    flex-direction: column;
    display: flex;
    row-gap: 0.3em;
    padding: 1em 0;
    box-shadow: black 1px 1px 10px -2px;
    height: var(--buy-tickets-height);
    background-color: white;
}

#event-details_buy-tickets> .tickets-left {
    margin-top: 0.4em;
}

#event-details_buy-tickets_whitespace {
    height: var(--buy-tickets-height);
}

#event-details_buy-tickets>.btn {
    margin: auto;
    padding: 0.4em 2em;
}

#event-details_buy-tickets>p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    #event-details_buy-tickets {
        position: sticky;
        padding: 0;
        box-shadow: none;
        height: fit-content;
        top: 2em;
    }

    #event-details_buy-tickets_whitespace {
        display: none;
    }
}

a.buy-tickets {
    /* Position buy tickets link above .stretched-link (event details) */
    z-index: 11;
}

.event-hero-img {
    width: 100%;
    height: 200px;
    padding: 0 12%;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 768px){
    .event-hero-img {
        height: 350px;
    }
}

@media screen and (min-width: 1200px){
    .event-hero-img {
        height: 400px;
    }
    
}

/* End Event detail */