{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>{{ user.username }}'s profile</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="">
                    <div class="form-group">
                        <label for="first-name"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
