{% extends 'base.html' %}
{% load static %}

{% block additional_header %}
    <div class="container" id="breadcrumbs-container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% if not breadcrumbs %}
                            <li class="breadcrumb-item active" aria-current="page">Venue Management</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="{% url 'venue-management' %}">Venue Management</a></li>
                        {% endif %}
                        {% for breadcrumb in breadcrumbs %}
                            {% if forloop.last %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
