{% extends 'management/venue-management.html' %}

{% load crispy_forms_tags %}

{% block table %}
    <div class="container container_max-width-md table-detail">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-dark">Edit</button>
                <button class="btn btn-dark">Delete</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ venue_form|crispy }}
                    {{ address_form|crispy}}
                    <button type="submit" class="btn btn-dark">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
