{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}
    - Venue Management
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'management/css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Venue Management</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table management-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Capacity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venue in venues %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <input type="text"
                                           name="venue_name"
                                           id="venue_name"
                                           value="{{ venue.name }}"
                                           readonly>
                                </td>
                                <td>
                                    <input type="text"
                                           name="venue_address"
                                           id="venue_address"
                                           value="{{ venue.address }}"
                                           readonly>
                                </td>
                                <td>
                                    <input type="number"
                                           name="venue_capacity"
                                           id="venue_capacity"
                                           value="{{ venue.capacity }}"
                                           readonly>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
