/* Checkout */

    .checkout-container {
        max-width: 800px;
    }

    #payment-form {
        width: 100%;
    }

    #payment-element {
        padding: 0.5em;
    }

    @media screen and (min-width: 576px) {
    
        #payment-element {
            padding: 2em;
        }   

        #payment-form {
            padding: 3.5em;
        }
    }

/* End Checkout */

/* User ticket */

    .event-card_content footer {
        display: none;
    }

    .event-card_content {
        height: 13em;
    }

/* End User ticket */