.user-tickets-container {
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
}

.user-tickets-container>div {
    align-content: space-between;
    max-width: 400px;
}

.user-tickets-container>div:last-child {
    padding: 0 1.5em;
}

.user-tickets-container .img-container>img {
    width: 100%;
}

hr.hr--light {
    color: rgb(162 41 255);
}

.user-tickets-container .img-container>img {
   margin-bottom: 1.5em;
}

.user-tickets-container.row {
    justify-content: center;
}

@media screen and (min-width: 576px) {
    .user-tickets-container>div {
        max-width: unset;
        overflow: hidden;
    }

    .user-tickets-container .img-container {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .user-tickets-container .img-container>img {
        max-height: 14em;
        margin: auto 0;
        height: 100%;
        max-width: 18em;
        object-fit: cover;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .event-cards-container {
        width: fit-content;
    }
}

@media screen and (min-width: 768px){
    .user-tickets-container .img-container {
        justify-content: right;
        padding-right: 2em;
    }
}