{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-header">
                {% element h1 %}
                    {% trans "Change Password" %}
                {% endelement %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% element p %}
                {% trans 'Your password is now changed.' %}
            {% endelement %}
        </div>
    </div>
</div>
{% endblock content %}
