<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find your event today!">
        <meta name="keywords" content="Event ticket concert online gig fun people">
        <title>
            {% block title %}
                BrightTimes
            {% endblock %}
        </title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
