{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
    - Choose or Create Venue
{% endblock %}

{% block content %}
    <div class="container venue-container">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    {% if venues %}
                        <h1>Which venue is hosting your event:</h1>
                    {% else %}
                        <h1>Create a venue for your event:</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- If VenueManager has venues already -->
        {% if venues %}
            <div class="row">
                <div class="col">
                    <h2 class="venue-section-header">Your Venues:</h2>
                    <hr>
                    <section class="venue-input-fields">
                        <form action="{% url 'create_event' %}" method="post">
                            {% csrf_token %}
                            {% for venue in venues %}
                                <input type="radio"
                                       name="choose-venue"
                                       id="{{ venue.id }}"
                                       value="{{ venue.id }}">
                                <label for="{{ venue.id }}">{{ venue.name }}</label>
                                <br>
                            {% endfor %}

                            <button type="submit">Choose Venue</button>
                        </form>
                    </section>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h2 class="venue-section-header">Create a new venue:</h2>
                    <hr>
                </div>
            </div>
        {% endif %}
        <!-- Show create a new venue section regardless -->
        <div class="row">
            <div class="col">
                <form action="{% url 'choose_or_create_venue' %}" method="post">
                    {% csrf_token %}
                    <section class="venue-input-fields">
                        <h3>Venue Details:</h3>
                        {{ venue_form|crispy }}
                    </section>
                    <section class="venue-input-fields">
                        <h3>Venue Address:</h3>
                        {{ address_form|crispy }}
                    </section>
                    <button type="submit">Create Venue</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
