{% extends 'management/management-base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
    - Venue Manager Admin
{% endblock %}

{% block page_header %}Venue Manager Admin{% endblock %}

{% block table %}
    <div class="management-table">
        <div class="container container_max-width-lg">
            <div class="row header">
                <div class="header d-none d-md-block col-md-1">#</div>
                <div class="header col-4">Username</div>
                <div class="header col-4">Venue</div>
                <div class="header col-4">Role</div>
            </div>
            {% for manager in venue_managers %}
                <div class="row">
                    <div class="d-none d-md-block col-md-1" scope="row">{{ forloop.counter }}</div>
                    <div class="col-4">{{ manager.user.username }}</div>
                    <div class="col-4">{{ manager.venue.name }}</div>
                    <div class="col-4">{{ manager.role }}</div>
                </div>
            {% endfor %}
            {% if venue_managers|length == 0 %}
                <div class="container container_max-width-lg">
                    <div class="row">
                        <div class="col text-center">
                            <p class="mb-0">No venue managers found.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <hr class="mt-5 mb-5">
    <form action="{% url 'venue-manager-admin' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Add a new venue manager:</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    {{ form|crispy }}
               
                    <button type="submit" class="btn btn-dark ml-2">Add manager</button>
                </div>
            </div>
        </div>
    </form>
    <br>
{% endblock %}
