{% extends 'management/detail-base.html' %}
{% load crispy_forms_tags %}
{% load management %}

{% block page_header %}Venue Manager Admin{% endblock %}

{% block control_options %}
    {% manager_role manager.venue.id user as role %}
    {% if role == "OWNER" %}
        {{ block.super }}
    {% elif role == "MANAGER" and manage.role != "OWNER" %}
        {{ block.super }}
    {% else %}
    <p class="text-danger m-0">You can't edit a venue owner</p >
    {% endif %}
{% endblock %}

{% block form_action %}
    {% url 'venue-manager-admin-detail' manager.id %}
{% endblock %}

{% block form_items %}
    <p>
        <strong>User:</strong> {{ manager.user.username }}
    </p>
    <p>
        <strong>Email:</strong> {{ manager.user.email }}
    </p>
    <p>
        <strong>Venue:</strong> {{ manager.venue.name }}
    </p>
    <label for="role">Role:</label>
    <select class="form-control editable-field" id="role" name="role" disabled>
        {% for role in roles %}
            <option value="{{ role }}" {% if manager.role == role %}selected{% endif %}>{{ role }}</option>
        {% endfor %}
    </select>
{% endblock %}
